# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

libhttpd-1.4/
simple_entry
entry
datanode
*.pid
nfocleaner
foobnc
foo-nukes
foo-pre
mp3info
foo-reset
createsfv
blehsfv
lfrtest
spy
webspy
zipcheck
tester
mp3genre
httpd.h

Makefile
config.h
config.status
config.cache
config.log
autom4te.cache/
*.swp

.vscode/
test/
tmp/
*.bak
*.log
*.debug
*_debug
*.new
*.old
*_new
*_old

# Includes
!src/pre/modules/mp3info
!testing/mover/Makefile
!testing/new/Makefile
!unsorted-older/kicker/Makefile
!unsorted-older/lastraces/Makefile
